<?xml version="1.0"?>
<config>
	<modules>
		<Craftyclicks_C2a>
			<version>0.5.4</version>
		</Craftyclicks_C2a>
	</modules>

	<global>
		<blocks>
			<c2a>
				<class>Craftyclicks_C2a_Block</class>
			</c2a>
			<adminhtml>
				<rewrite>
					<sales_order_grid>Craftyclicks_C2a_Block_Ordergrid</sales_order_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<c2a>
				<class>Craftyclicks_C2a_Helper</class>
			</c2a>
		</helpers>
		<models>
			<craftyclicks_c2a>
				<class>Craftyclicks_C2a_Model</class>
				<resourceModel>craftyclicks_c2a_resource</resourceModel>
			</craftyclicks_c2a>
			<craftyclicks_c2a_resource>
				<class>Craftyclicks_C2a_Model_Resource</class>
				<entities>
					<address>
						<table>craftyclicks_c2a_address</table>
					</address>
				</entities>
			</craftyclicks_c2a_resource>
		</models>
	</global>

	<default>
		<c2a_global>
			<options>
				<active>0</active>
				<access_token>xxxxx-xxxxx-xxxxx-xxxxx</access_token>
			</options>
			<design>
				<search_position>1</search_position>
				<dropdown_mode>2</dropdown_mode>
				<dropdown_ambient>light</dropdown_ambient>
				<dropdown_accent>default</dropdown_accent>
			</design>
			<texts>
				<search_label>Address Search</search_label>
				<search_placeholder>Start with post/zip code or street</search_placeholder>
				<country_placeholder>Type here to search for a country</country_placeholder>
				<country_button>Change Country</country_button>
				<error_msg_1>No results found</error_msg_1>
				<error_msg_2>An error occured. Please enter your address manually</error_msg_2>
			</texts>
			<advanced>
				<match_country_list>1</match_country_list>
			</advanced>
		</c2a_global>
	</default>

	<frontend>
		<layout>
			<updates>
				<craftyclicks_c2a>
					<file>craftyclicks_c2a.xml</file>
				</craftyclicks_c2a>
			</updates>
		</layout>
			<routers>
				<c2a_hash>
					<use>standard</use>
					<args>
						<module>Craftyclicks_C2a</module>
						<frontName>c2a</frontName>
					</args>
				</c2a_hash>
			</routers>
	</frontend>

	<adminhtml>
		<layout>
			<updates>
				<craftyclicks_c2a>
					<file>craftyclicks_c2a.xml</file>
				</craftyclicks_c2a>
			</updates>
		</layout>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<c2a_global translate="title" module="c2a">
											<title>Click To Address Global</title>
										</c2a_global>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>

	<global>
		<resources>
			<craftyclicks_c2a_setup>
				<setup>
					<module>Craftyclicks_C2a</module>
				</setup>
			</craftyclicks_c2a_setup>
		</resources>
	</global>
</config>
