<?xml version="1.0" encoding="UTF-8"?>
<config>
	<tabs>
		<craftyclicks translate="label">
			<label><![CDATA[<img style="margin: 4px 4px 4px 0px;" src="https://craftyclicks.co.uk/assets/magento/crafty-logo.png" alt="Crafty Clicks" border="0" />]]></label>
			<sort_order>101</sort_order>
		</craftyclicks>
	</tabs>

	<sections>
		<c2a_global translate="label" module="c2a">
			<label>Global Address Auto-complete</label>
			<tab>craftyclicks</tab>
			<sort_order>99</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<options translate="label" module="c2a">
					<label>Main Settings</label>
					<frontend_type>text</frontend_type>
					<sort_order>100</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<version translate="label">
							<label>Version</label>
							<frontend_type>select</frontend_type>
							<frontend_model>Craftyclicks_C2a_Block_Adminhtml_Version</frontend_model>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</version>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<access_token translate="label">
							<label>Access Token</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</access_token>
					</fields>
				</options>
				<design>
					<label>Design</label>
					<frontend_type>text</frontend_type>
					<sort_order>200</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<search_position translate="label">
							<label>Search Position</label>
							<frontend_type>select</frontend_type>
							<source_model>craftyclicks_c2a/position</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</search_position>
						<dropdown_mode translate="label">
							<label>Mode</label>
							<frontend_type>select</frontend_type>
							<source_model>craftyclicks_c2a/mode</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</dropdown_mode>
						<dropdown_ambient translate="label">
							<label>Ambient</label>
							<frontend_type>select</frontend_type>
							<source_model>craftyclicks_c2a/ambient</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</dropdown_ambient>
						<dropdown_accent translate="label">
							<label>Accent</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Sets the highlighting colour for the dropdown.</comment>
						</dropdown_accent>
						<hide_address_fields translate="label">
							<label>Hide Address Lines</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</hide_address_fields>
					</fields>
				</design>
				<texts>
					<label>Texts</label>
					<frontend_type>text</frontend_type>
					<sort_order>800</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<country_language translate="label">
							<label>Country List Language</label>
							<frontend_type>select</frontend_type>
							<source_model>craftyclicks_c2a/countrylanguage</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country_language>
						<search_label translate="label">
							<label>Search Label</label>
							<frontend_type>text</frontend_type>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</search_label>
						<search_placeholder translate="label">
							<label>Search Placeholder</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</search_placeholder>
						<country_placeholder translate="label">
							<label>Placeholder for Country Selection</label>
							<frontend_type>text</frontend_type>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country_placeholder>
						<country_button translate="label">
							<label>Change Country button text</label>
							<frontend_type>text</frontend_type>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</country_button>
						<error_msg_1 translate="label">
							<label>No Results Message</label>
							<frontend_type>text</frontend_type>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</error_msg_1>
						<error_msg_2 translate="label">
							<label>Generic Error Message</label>
							<frontend_type>text</frontend_type>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</error_msg_2>
					</fields>
				</texts>
				<advanced>
					<label>Advanced Options</label>
					<frontend_type>text</frontend_type>
					<sort_order>1000</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<match_country_list translate="label">
							<label>Match Country List to Enabled Countries</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The country list in the search interface will match Magento's country list.</comment>
						</match_country_list>
						<lock_country_to_dropdown translate="label">
							<label>Lock selected country to dropdown</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>The selected country in the search interface is locked to the selected country in the dropdown (optional only in frontend, default in admin panel).</comment>
						</lock_country_to_dropdown>
						<geocoding translate="label">
							<label>Geocoding</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment>Set the default country to the user's location. (based on IP address, frontend only)</comment>
						</geocoding>
					</fields>
				</advanced>
			</groups>
		</c2a_global>
	</sections>

</config>
